.header
%main.login-container
  .login-container__content
    %form
      .login-form
        .login-form__group
          %input{ type: 'email', name: 'email', placeholder: 'メールアドレス', class: 'login-input' }
        .login-form__group
          %input{ type: 'password', name: 'password', placeholder: 'パスワード', class: 'login-input' }
        %button.login-btn
          ログイン
        %a パスワードをお忘れの方
.footer