.main
  .main__header
    FURIMA
  .main__contents
    .main__contents__form
      .main__contents__form__display
        .main__contents__form__display__body
          .main__contents__form__display__body__title
            .main__contents__form__display__body__title__word
              出品画像
            .main__contents__form__display__body__title__item
              必須
          .main__contents__form__display__body__text
            説明文
          .main__contents__form__display__body__image
            .main__contents__form__display__body__image__box
              .main__contents__form__display__body__image__box__block
                .main__contents__form__display__body__image__box__block__icon
                  ＠
                .main__contents__form__display__body__image__box__block__text
                  %ul
                    %liドラッグアンドドロップ
                    %liまたはクリックしてファイルをアップロード
      .main__contents__form__product
        .main__contents__form__product__name
          .main__contents__form__product__name__title
            .main__contents__form__product__name__title__word
              商品名
            .main__contents__form__product__name__title__item
              必須
          .main__contents__form__product__name__text
            .main__contents__form__product__name__text__box
              ４０文字まで
        .main__contents__form__product__introduction
          .main__contents__form__product__introduction__title
            .main__contents__form__product__introduction__title__word
              商品の説明
            .main__contents__form__product__introduction__title__item
              必須
          .main__contents__form__product__introduction__text
            .main__contents__form__product__introduction__text__box
              %ul
                %li商品の説明（必須1,000文字以内)
                %li（色、素材、重さ、定価、注意点など）
      .main__contents__form__detail
        %p
          商品詳細
          .main__contents__form__detail__category
            .main__contents__form__detail__category__title
              .main__contents__form__detail__category__title__word
                カテゴリー
              .main__contents__form__detail__category__title__item
                必須
            .main__contents__form__detail__category__text
              .main__contents__form__detail__category__text__box
                選択してください
          .main__contents__form__detail__brand
            .main__contents__form__detail__brand__title
              .main__contents__form__detail__brand__title__word
                ブランド
              .main__contents__form__detail__brand__title__item
                任意
            .main__contents__form__detail__brand__text
              .main__contents__form__detail__brand__text__box
                例)シャネル
          .main__contents__form__detail__status
            .main__contents__form__detail__status__title
              .main__contents__form__detail__status__title__word
                商品の状態
              .main__contents__form__detail__status__title__item
                必須
            .main__contents__form__detail__status__text
              .main__contents__form__detail__status__text__box
                選択してください
      .main__contents__form__delivery
        %p
          配送について
          .main__contents__form__delivery__price
            .main__contents__form__delivery__price__title
              .main__contents__form__delivery__price__title__word
                配送料の負担
              .main__contents__form__delivery__price__title__item
                必須
            .main__contents__form__delivery__price__text
              .main__contents__form__delivery__price__text__box
                選択してください
          .main__contents__form__delivery__area
            .main__contents__form__delivery__area__title
              .main__contents__form__delivery__area__title__word
                発送元の地域
              .main__contents__form__delivery__area__title__item
                必須
            .main__contents__form__delivery__area__text
              .main__contents__form__delivery__area__text__box
                選択してください
          .main__contents__form__delivery__time
            .main__contents__form__delivery__time__title
              .main__contents__form__delivery__time__title__word
                配送までの日数
              .main__contents__form__delivery__time__title__item
                必須
            .main__contents__form__delivery__time__text
              .main__contents__form__delivery__time__text__box
                選択してください
      .main__contents__form__sale
        %p
          価格 (¥300~9,999,999)
          .main__contents__form__sale__price
            .main__contents__form__sale__price__title
              販売価格
            .main__contents__form__sale__price__item
              必須
            .main__contents__form__sale__price__box
              0
          .main__contents__form__sale__fee
            販売手数料 (10%)
          .main__contents__form__sale__prosit
            販売利益
      .main__contents__form__motion
        .main__contents__form__motion__auctionbtn
          出品する
        .main__contents__form__motion__returnbtn
          戻る
      .main__contents__form__rule
        規約
  .main__footer
    FURIMA